body {
    /* color de fondo para la visualizacion */
    background-color: #eee;  
    font-family: 'Noto Sans', sans-serif;
}

.card {
    border-radius: 15px;
}

.back_personal_info {
    color: #2D9CBD;
    font-size: 18px;
    text-decoration: none;
}